/*
*
* @author José Augusto Silva
* @version 0.1
*/

body {
  /* definição cores darkmode */
  /* cores texto */
  --text-white: #fff;
  --text-dark: #262626;

  /* cores de fundo */
  --bg-white: #fff;
  --bg-dark: #262626;
  --bg-btndark: #141414;
  --bg-btnwhite: #cacaca;

  font-family: "Poppins", sans-serif;
  background-color: var(--bg-white);
}

.dark {
  --text-white: #262626;
  --text-dark: #fff;

  --bg-white: #262626;
  --bg-dark: #fff;
  --bg-btndark: #fff;
  --bg-btnwhite: #141414;
}

/* -- container-main -- */

.container {
  max-width: 600px;
  margin: 10px auto;
  padding: 0 15px 0 15px;
}

/* -- barra de navegação -- */

.navbar {
  padding: 8px 0 8px 0;
}

.navegacao {
  height: 100px;
  display: flex;
  align-items: center;
}

.logo-texto {
  color: var(--text-dark);
  font-weight: 500;
  font-size: 1.5em;
  letter-spacing: 0.02em;
}

.logo-texto:hover {
  color: var(--text-dark);
}

.logo-texto:visited {
  color: var(--text-dark);
}

.btn-tema-escuro {
  width: 110px;
  padding: 5px;
  height: 34px;
  border: none;
  border-radius: 10px;
  font-family: inherit;
  cursor: pointer;
  background-color: var(--bg-btndark);
  color: var(--text-white);
  font-size: 0.8em;
  font-weight: 400;
  transition: background 0.4s, color 0.4s;
}

.btn-tema-escuro:hover {
  color: var(--text-white);
  background: var(--bg-btndark);
}

/* -- conteúdo principal -- */

#bibliografia {
  width: 100%;
  padding: 0 25px 0 5px;
  margin-bottom: 30px;
}

.titulo-principal {
  color: var(--text-dark);
  font-weight: 600;
  font-size: 2.4em;
  line-height: 110%;
  letter-spacing: 0.03em;
  margin-bottom: 40px;
}

.paragrafo {
  color: var(--text-dark);
  font-weight: 300;
  font-size: 0.95em;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-align: left;
  margin-bottom: 18px;
}

/* meus links */

#links {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tituto-links {
  color: var(--text-dark);
  font-weight: 500;
  font-size: 1.1em;
  letter-spacing: 0.05em;
  padding-left: 5px;
  margin-bottom: 10px;
}

.botao-link {
  max-width: 530px;
  height: 80px;
  background: var(--bg-dark);
  border-radius: 15px;
  padding-left: 25px;
  font-weight: 600;
  font-size: 0.9em;
  letter-spacing: 0.02em;
}

#links a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

#links a:link {
  color: var(--text-white);
}

#links a:hover {
  color: var(--text-white);
}

#links a:active {
  color: var(--text-white);
}

#links a:visited {
  color: var(--text-white);
}

/* footer */

.footer {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.texto-footer {
  color: var(--text-dark);
  font-size: 0.7em;
  font-weight: 200;
  padding-left: 5px;
  margin: 0;
}

.negrito-footer {
  font-weight: 600;
}
