/*
*
* @author José Augusto Silva
* @version 0.1
*/

/* ======================= Layout ======================= */
body {
  background: #333;
  font-family: "Poppins", sans-serif;
}

/* -- Container-main -- */

.container {
  max-width: 600px;
  margin: 10px auto;
  padding: 10px;
}

/* -- Barra de navegação -- */

.navegacao {
  height: 100px;
  display: flex;
  align-items: center;
}

.logo-texto {
  color: #fff;
  font-weight: 500;
  font-size: 1.5em;
  letter-spacing: 0.02em;
}

.logo-texto:hover {
  color: #fff;
}

.logo-texto:visited {
  color: #fff;
}

.btn-tema-escuro {
  width: 110px;
  padding: 5px;
  height: 34px;
  border: none;
  border-radius: 10px;
  font-family: inherit;
  cursor: pointer;
  background-color: #262626;
  color: #fff;
  font-size: 0.8em;
  font-weight: 400;
  transition: background 0.4s, color 0.4s;
}

.btn-tema-escuro:hover {
  color: #262626;
  background: #fff;
}

/* -- Conteúdo principal -- */

#bibliografia {
  padding: 20px 50px 20px 30px;
}

.p-conteudo {
  margin-top: 40px;
}

.conteudo-main {
  max-width: 500px;
}

/* Links */

.btn-links {
  display: flex;
  color: #262626;
  background: #f5f5f5;
  border-radius: 15px;
  padding-left: 30px;
  width: 450px;
  height: 80px;
  align-items: center;
}

.alinhamento-btn {
  padding: 20px 0 0 20px;
}

.footer {
  height: 90px;
  padding: 40px 0 10px 30px;
}

/* ======================= Tipografia ======================= */

.titulo-principal {
  color: #fff;
  font-weight: 600;
  font-size: 2.4em;
  line-height: 110%;
  letter-spacing: 0.03em;
}

.p-texto {
  color: #fff;
  font-weight: 300;
  font-size: 0.9em;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: left;
}

#links h3 {
  color: #fff;
  font-weight: 500;
  font-size: 1.3em;
  line-height: 36px;
  letter-spacing: 0.04em;
  padding: 0 0 0 20px;
}

#links a {
  text-decoration: none;
}

#links a:hover {
  color: #166ff5;
}

.links a:visited {
  color: #262626;
}

.btn-texto {
  font-weight: 600;
  font-size: 0.9em;
  letter-spacing: 0.02em;
}

.texto-footer {
  color: #fff;
  font-size: 0.8em;
  font-weight: 200;
}

.texto-negrito-footer {
  font-weight: 800;
}
